.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  }
  
  .dialog-content {
    width: 300px;
    padding: 20px;
    background-color: rgb(202,237,255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .confirm{
    background-color: rgb(143,209,79);
    margin-right: 5%;
    margin-left: 5%;
    color: black;
  }
  .decline{
    background-color: rgb(242,71,38);
    margin-right: 5%;
    margin-left: 5%;
    color: black;
  }